.button {
  width: 4rem;
  min-height: 4rem;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem;
}

.button-danger {
  @extend .button;
  background-color: red;
  color: aliceblue;
}

.button-succes {
  @extend .button;
  background-color: plum;
  color: black;
}
