@import "variables";

@mixin img($widht, $border) {
  width: $widht;
  border: $border;
}

@mixin circle($widht, $border-radius) {
  width: $widht;
  height: $widht;
  @if $border-radius < 50% {
    border-radius: 50%;
  }
}

@mixin warn($color) {
  @if ($color != $background-color) {
    @warn "No esás usando el color primario";
    background-color: $color;
  } @else {
    background-color: $background-color;
  }
}

@mixin background-colors($color) {
  @if ($color == violet) {
    .color-#{$color} {
      background-color: black;
    }
  }
  @if ($color == magenta) {
    .color-#{$color} {
      background-color: gray;
    }
  }
  @if ($color == purple) {
    .color-#{$color} {
      background-color: white;
    }
  }
}
