@use "variables" as variables;
@use "herencia";
@use "operadores" as operadores;
@use "mixins";

body {
  background-color: variables.$background-color;
}

.main {
  @include mixins.warn(orange);
}

.buttons-circle {
  @include mixins.circle(9rem, 34%);
  background-color: green;
}

.footer {
  font-size: operadores.$font-footer();
}
