@use "variables" as variables;
@use "operadores" as operadores;
@use "mixins";
@use "herencia";
@use "nesting";

@each $c in variables.$purp {
  .color-#{$c} {
    color: $c;
    font-size: 3rem;
  }

  @include mixins.background-colors($c);
}

body {
  background-color: variables.$background-color;
}

.main {
  @include mixins.warn(orange);
}

.container {
  display: variables.$display-container;
}

.right {
  display: variables.$display-container;
  flex-direction: column;
  position: relative;
  width: 100%;
  align-items: end;
  margin-left: 4rem;
  text-align: end;
}

.buttons-circle {
  @include mixins.circle(9rem, 34%);
  background-color: green;
}

.footer {
  font-size: operadores.$font-footer();
}
