@use "variables" as variables;
@use "herencia";
@use "operadores" as operadores;

body {
  background-color: variables.$primary-color;
}

.main {
  color: variables.$color-primary;
  background-color: variables.$background-color;
}

.buttons {
  @extend .button;
}

.footer {
  font-size: operadores.$font-footer();
}
