header {
  display: flex;
  width: 100%;
  font-size: 2rem;
  border: 1px solid black;
  justify-content: center;
  .ul {
    align-items: center;
    .li {
      align-items: start;
    }
  }

  .nav {
    background-color: khaki;
    position: absolute;
    top: 0;
    right: 0;
  }
}
