$font-size: 1.5rem;
$font-title: calc($font-size * 2);
$font-subtitle: calc($font-size * 1.5);
$font-footer: calc($font-size / 2);

.title {
  font-size: $font-title;
}
.subtitle {
  font-size: $font-subtitle;
}
.p {
  font-size: $font-size;
}
.footer {
  font-size: $font-footer;
}
